.button {
    background-color: #ffd401;
    border-radius: 5px;
    display: inline-block;
    font-family: arial;
    margin: 5px;
    padding: 12px;    
    text-transform: uppercase;    

    }

.button.is-hover {
    background-color: #2c355e;
    color: #dec23a;
}

.button.is-pressed {
    background-color: #20263e;
    color: #fefdfd;
    border-radius: 0 50% 0 50%;


}

.button.is-disabled {
    background-color: #e6e6e6;
    color: #7e7e7e;
}

.button.is-focused {
    background-color: #ffd401;
    color: #130801;
    
}